
// ===================
.arrow {
  position: relative;
  width: 100%;
  padding: .4rem 0;
  border-bottom: 1px dashed #ccc;
  &::after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: .5rem;
  }
  &:active {
    background: rgba(217, 217, 217, .4);
  }
  &:link {
    color: #000;
  }
  &:visited {
    color: #000;
  }
}

.eq {
  //margin-top: .5rem;
  width: 100%;
  height: auto;
  background: #fff;
}

.eqLogo {
  display: block;
  height: 2rem;
  //background: red;
  img {
    display: block;
    width: 2rem;
    margin: 0 auto;
    border-radius: 50%;
  }
}

.eqTitle {
  display: block;
  height: 1.2rem;
  line-height: 1.2rem;
  //background: red;
  h1 {
    font-size: .5rem;
    text-align: center;
  }
}

.eqIntroduce {
  //height: 4rem;
  //background: red;
  img {
    display: block;
    width: 85%;
    border-radius: 4px;
  }
}

.eqTask {
  display: block;
  &__name {
    font-size: .55rem;
    margin-left: .5rem;
  }
  &__detail {
    font-size: .45rem;
    padding: 0 1rem;
    margin-top: .2rem;
  }
  &__task {
    overflow: hidden;
    margin-top: .2rem;

  }
  &__item {
    position: relative;
    margin: .55rem;
    float: left;
    width: 20%;
    height: 2.7rem;
    background: url(http://www.2e33.com/demo/background.jpg) no-repeat;
    p {
      font-size: .45rem;
    }
    span {
      position: absolute;
      left: 0;
      bottom: -.6rem;
      font-size: .4rem;
    }
  }
}

.eqPrice {
  $rule: &;
  display: block;
  &__name {
    font-size: .55rem;
    margin-left: .5rem;
  }
  &__detail {
    display: block;
    margin-left: 1.8rem;
    @at-root #{$rule}__num {
      display: inline;
      font-size: .9rem;
    }
    @at-root #{$rule}__yuan {
      display: inline;
    }
  }
}

.eqTime {
  $rule: &;
  display: block;
  &__name {
    font-size: .55rem;
    margin-left: .5rem;
    margin-bottom: .3rem;
  }
  &__detail {
    display: block;
    margin-left: 1.8rem;
    margin-bottom: .2rem;
    @at-root #{$rule}__date {
      font-size: .48rem;
    }
    @at-root #{$rule}__clock {
      font-size: .48rem;
    }
  }
}

.eqText {
  $rule: &;
  display: block;
  &__name {
    font-size: .55rem;
    margin-left: .5rem;
  }
  &__detail {
    display: block;
    @at-root #{$rule}__text {
      font-size: .5rem;
    }
  }
}
