//布局
@mixin display($style) {
  display: $style;
}

//主轴的方向，即项目的排列方向
@mixin direction($direction) {
  flex-direction: $direction;
}

//主轴水平方向的对齐方式
@mixin justify-content($space) {
  justify-content: $space;
}

//主轴垂直方向一根轴线的对齐方式
@mixin align-items($space) {
  align-items: $space;
}

//主轴垂直方向多轴直线的对齐方式
@mixin align-content($space) {
  align-content: $space;
}
