<?xml version="1.0" encoding="UTF-8"?>
	<configuration>
	    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
	    <logger name="org.springframework.web" level="INFO" />
<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
	    <!-- 彩色日志格式 -->
	    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
	    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
	        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
	            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
	            <charset>UTF-8</charset>
	        </encoder>
	    </appender>
	    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
	        <file>${LOG_PATH}/step.log</file>
	    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	            <FileNamePattern>${LOG_PATH}/footprint.log.%d{yyyy-MM-dd}.zip</FileNamePattern>
	            <maxHistory>30</maxHistory>
	            <totalSizeCap>10GB</totalSizeCap>
	        </rollingPolicy>
	        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
	            <charset>UTF-8</charset>
	        </encoder>
	        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	            <MaxFileSize>10MB</MaxFileSize>
	        </triggeringPolicy>
	    </appender>
	    <appender name="asyncFileAppender" class="ch.qos.logback.classic.AsyncAppender">
	        <discardingThreshold>0</discardingThreshold>
	        <queueSize>5000</queueSize>
	        <appender-ref ref="FILE" />
	    </appender>
	     <springProfile name="dev">
	        <root level="INFO">
	        	<appender-ref ref="asyncFileAppender" />
	             <appender-ref ref="consoleAppender" />
	        </root>
	    </springProfile>
	    <springProfile name="test">
	        <root level="INFO">
	            <appender-ref ref="asyncFileAppender" />
	        </root>
	    </springProfile>
	    <springProfile name="prod">
	        <root level="INFO">
	            <appender-ref ref="FILE" />
	             <appender-ref ref="consoleAppender" />
	        </root>
	    </springProfile>
	    
	    <logger name="org.hibernate.SQL" level="INFO"></logger>
	    <logger name="springfox" level="ERROR"></logger>
	    <logger name="org.apache.mina.filter.logging.LoggingFilter" level="ERROR"></logger>
	</configuration>